# MongoDB Configuration
MONGO_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?appName=Cluster0
MONGO_ORG_ID=69dd5dc463b513e109c19572
MONGO_DB=ewaste_db

# Admin Settings
ADMIN_PASSWORD=admin123

# Server Port
PORT=8000
